{% extends "FourxxiTestJobBundle:Default:indexBase.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('bundles/fourxxitestjob/css/index.css')}}" rel="stylesheet">
{% endblock %}
{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('bundles/fourxxitestjob/js/index.js')}}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% for user in users %}
                    <li>
                        {{user.firstName}}&nbsp;{{user.lastName}}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div id="messages">
                {% for message in messages %}
                    {% embed "FourxxiTestJobBundle:Default:message.html.twig" %}
                    {% endembed %}
                {% endfor %}
            </div>

            <div id="editform" class="messagediv form-inline">
                <textarea id="body" rows="5"></textarea>
                <div id="save" onclick="saveMessage();" class="btn btn-primary btn-sm">Save</div>
                <span></span>
            </div>
        </div>

    </div>
{% endblock %}
